<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/581ba43944.js" crossorigin="anonymous"></script>

</head>
<body>
    <h1>PHONE BOOK</h1>
    <div class="box">
      
        <% for(let i = 0; i < contacts.length; i++) { %>
            <form action="/delete" method="POST">
                <div class="item">
            <input type="checkbox" value="<%= contacts[i].contact.name %>" name="checkbox" onchange="this.form.submit()" >
            <p><%= contacts[i].contact.name %>: <%= contacts[i].contact.phone %></p>
        </div>
            </form>
            <% } %>
       
  

    <form action="/addContact" method="POST">
        <input type="text" name="nimi" id="" placeholder="Lisa Nimi">
        <input type="text" name="telefon" id="" placeholder="Lisa Number">
        <button type="submit"> Lisa kontakt</button>

    </form>
</div>
</body>
</html>